*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.heading{
    margin-left: 50px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman';
}
.main{
    background-image: url(bg2.jpg);
    background-position: center;
    width: 100%;
    background-size: cover;
}

.container{
    width: 80vh;
    height: 80vh;
    margin-top: 85px;
    margin-left: 400px;
    margin-bottom: 100px;
    margin-right: 400px;
    background-image: url('bg.jpg');
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 10px black;
    border-top: 5px solid rgb(6, 218, 119) ;
    border-bottom: 5px solid rgb(6, 218, 119) ;
    border-right:5px solid rgb(6, 218, 119) ;
    border-left:5px solid rgb(6, 218, 119) ;
}

.todo{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.todo__value{
    background: transparent;
    border: none;
    outline: none;
    font-family:cursive;
    font-size: 1em;
    font-weight: bold;
    flex-grow: 1;
}
.todo:has(.todo__checkbox:checked) {
    color: rgb(36, 29, 29);
    background: rgb(231, 219, 219);
    text-decoration: line-through;
    order: 1;
}